# Ignore Mac System Files
.DS_Store

# Ignore Test Results (They change too often)
data/results/*.csv

# Ignore IDE settings
.vscode/
.idea/

# Ignore your main dataset if it's huge
data/urls.csv
node_modules/*

# ignore tester html files for now
test-files/*.html