.fieldGroup {
    margin-bottom: 1rem;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.checkboxLabel {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.checkboxInput {
    margin-right: 0.5rem;
}

.helperText {
    display: block;
    margin: 4px 0px 8px;
    color: var(--pico-muted-color);
    font-size: 0.85em;
}

.textarea {
    font-size: 0.9em;
    width: 100%;
    resize: vertical;
}

.fileInput {
    width: 100%;

}

.fileInput button {
    background-color: var(--pico-secondary);
}

input:not([type=checkbox], [type=radio]),
select,
textarea {
    margin-bottom: calc(var(--pico-spacing) - 11px);
}