:root {
    --pico-color-lime: #a5d601;
    --pico-color-green-450: #409614;
    --pico-outline-width: 3px;
    --pico-primary-focus: var(--pico-color-green-450);
    --pico-font-family-sans-serif: 'Arivo', system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif, var(--pico-font-family-emoji);
    --pico-font-family-monospace: 'Cousine', ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace, var(--pico-font-family-emoji);
}

@media only screen and (prefers-color-scheme: dark) {

    :root:not([data-theme]),
    :host:not([data-theme]) {
        --pico-primary-focus: var(--pico-color-lime);
    }
}

*:focus-visible {
    outline: var(--pico-outline-width) var(--pico-primary-focus) solid !important;
    outline-offset: 5px;
}

body {
    width: auto;
    padding: 3rem;
    font-family: var(--pico-font-family);
    margin-top: 40px;
    font-size: 16px;
}

#appHeader {
    position: fixed;
    background: var(--pico-background-color);
    border-bottom: solid var(--pico-primary-border) 2px;
    top: 0;
    left: 0;
    width: 100%;
}


#appHeader h2 {
    padding: 1rem 3rem;
    margin-bottom: 0;
}

progress {
    margin: 10px auto;
}

label {
    font-size: 1rem;
}

.flex {
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) {
    .flex {
        flex-direction: row;
    }
}

:where(select, textarea):not([readonly]):focus,
input:not([type=submit], [type=button], [type=reset], [type=range], [type=file], [readonly]):focus {
    --pico-box-shadow: none;
}

[role=button]:focus,
[type=button]:focus,
[type=file]::file-selector-button:focus,
[type=reset]:focus,
[type=submit]:focus,
button:focus {
    --pico-box-shadow: none;
}